meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Investigación Publicitaria
meta(meta name="description" content="La investigación publicitaria, es un brazo de la investigación de mercados; si bien, esta tiene todos los componentes para el desarrollo de un completo diagnóstico de una empresa a nivel publicitario, se hace indispensable referir los datos e información que a nivel de comunicación y promoción requiere una empresa para el desarrollo de las estrategias que atañen esta materia.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")