h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101051-01. Establecer variables situacionales teniendo en cuenta requerimientos de la organización.






