.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Competidor: 
            | persona con aptitudes y actitudes para laborar de acuerdo con los requerimientos de una empresa.
        hr

        p
            strong.mr-2 Gestión: 
            | capacidad de una organización de administrar y conseguir aspectos necesarios para el crecimiento de una empresa o proyecto.

        hr

        p
            strong.mr-2 Líder: 
            | persona con habilidades y competencias para liderar una empresa, capaz de influir en los demás para conseguir los objetivos establecidos.  

        hr

        p
            strong.mr-2 Sistema: 
            | herramienta articulada que permite la mejora de los procesos y procedimientos de acuerdo con un objetivo en común. 