.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td El liderazgo empresarial para la innovaci칩n tecnol칩gica en las micro, peque침as y medianas empresas
                    td Publicaci칩n en PDF
                    td 
                        a(href="media/documentos/AA1_MC1_Liderazgo_Empresarial.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material