.container

    .header-ecored
        h1 1. Antecedentes de la investigación de mercados



    .row.justify-content-center
        .col-12.col-md-8
            img(src="assets/images/pages/tema-1/info.svg").img-fluid