blockquote.cita-1 {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote.cita-1:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote.cita-1 p {
  display: inline;
}


blockquote.cita-2 {
	position: relative;
	padding-left: 30px;
	font-weight: 500;
	color: $primary;
	padding: 1em;
	margin: 1em;
	max-width: 33em;
	font-size: 1.1em;
	&:before {
		content: "“";
		font-family: serif;
		position: absolute;
		right: 100%;
		font-size: 120px;
		line-height: 0px;
		top: 50px;
		color: purple;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		width: 80px;
		height: 5px;
		background: #e56d39;
		left: 1em;
	}
}
